.addBtn {
  width: 200px;
  margin: 20px 0 50px 100px;
  border-radius: 0px !important;
  float: left;
  display: flex;
}
.InputWrapper{
  float: right;
}
.InputWrapper input{
  width: 300px;
  height: 30px;
  margin: 20px 50px 0 0;
}

.ImageWrapper{
  float: left;
  display: flex;
  margin: 18px;
  border: 2px solid #a1c1dd;
  width: 1024px;
  flex-wrap: wrap;
  padding-left: 71px;
  margin-left: 3rem;
}

.MapImageWrapper img{
  width: 150px;
   height: 150px;
   margin-right: 30px;   /* Horizontal Space */
   /* margin-bottom: 30px;  Vertical Space */
   border: 2px solid rgb(7, 1, 1);
}

.ButtonWrapper {
  margin-left: -55px;
}